header {
    text-align: center;
    background: white;
    margin: 0px auto;
}

#logo {
    margin: 100px 0px 50px;
}

.navbar-nav .nav-item {
    padding: 0px 30px 40px;
}

.navbar-nav .nav-item a {
    padding: 0px 10px;
}

.row-header {
    margin: 0px auto;
    padding: 0px 0px; }
  
.row-content {
    margin: 0px auto;
    padding: 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px; }
  
.footer {
    background-color: #D1C4E9;
    margin: 0px auto;
    padding: 20px 0px; }
  
.jumbotron {
    margin: 0px auto;
    padding: 70px 30px;
    background: #9575CD;
    color: floralwhite; }
  
body {
    padding: 0px 0px 0px 0px;
    z-index: 0; }
  
.main-photo {
    margin-top: 30px;
    top: 0; }

.no-padding {
    padding-left: 0;
    padding-right: 0; }

  .tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px; }

  